{% extends "base.html" %}
{% load static %}


{% block title %}Homepage{% endblock %}

{% block main %}

<body>
  <p>
    <!-- Button trigger modal -->


    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="full_name">enter your full name</label>
              <input type="name" name="name" class="form-control" id="full_name" aria-describedby="emailHelp"
                placeholder="Enter full name">

            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <td></td>

  <a href="" style="color: black;" data-toggle="modal" data-target="#exampleModal">

    <div class="container-fluid">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Q. What does CSS stands for?</h3>
          </div>
          <div class="modal-body">
            {% for home in dataa  %}
            <form action="questions/{{home.slug}}/1" method="post">

              {% csrf_token %}

              <a>
                <div class="col-xs-3 5"> </div>
                <div class="quiz" id="quiz" data-toggle="buttons">
                  <label class="element-animation1 btn btn-lg btn-danger btn-block">

                    <span class="btn-label"><i class="fa fa-arrow-right"></i>

                    </span>
                    <input type="submit" name="testname" hidden value="{{home.id}}">

                    {{forloop.counter}}) {{home.heading}}</label>
              </a>

            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </a>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% endblock %}

</html>